In [1]:
# import pandas as pd

# Read a sample of the data

# prefix = 'https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/'

# df = pd.read_csv(prefix + 'yellow_tripdata_2021-01.csv.gz', nrows=100)

In [2]:
# Display first rows
# df.head()

In [3]:
# df.info()

In [4]:
# Check data shape
# df.shape

In [5]:
# dtype = {
#     "VendorID": "Int64",
#     "passenger_count": "Int64",
#     "trip_distance": "float64",
#     "RatecodeID": "Int64",
#     "store_and_fwd_flag": "string",
#     "PULocationID": "Int64",
#     "DOLocationID": "Int64",
#     "payment_type": "Int64",
#     "fare_amount": "float64",
#     "extra": "float64",
#     "mta_tax": "float64",
#     "tip_amount": "float64",
#     "tolls_amount": "float64",
#     "improvement_surcharge": "float64",
#     "total_amount": "float64",
#     "congestion_surcharge": "float64"
# }

# parse_dates = [
#     "tpep_pickup_datetime",
#     "tpep_dropoff_datetime"
# ]

In [6]:
# df = pd.read_csv(
#     prefix + 'yellow_tripdata_2021-01.csv.gz',
#     dtype=dtype,
#     parse_dates=parse_dates
# )

In [7]:
# df.info()

In [8]:
# df.shape

In [ ]:
# from sqlalchemy import create_engine
# engine = create_engine('postgresql://root:root@host.docker.internal:5432/ny_taxi')

In [ ]:
# print(pd.io.sql.get_schema(df, name='yellow_taxi_trips_2025', con=engine))

In [11]:
# df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
# df_iter = pd.read_csv(
#     prefix + 'yellow_tripdata_2021-01.csv.gz',
#     dtype=dtype,
#     parse_dates=parse_dates,
#     iterator=True,
#     chunksize=100000
# )

In [9]:
# from tqdm.auto import tqdm

# first = True
# for df_chunk in tqdm(df_iter):

#     if first:
#         # Create table schema (no data)
#         df_chunk.head(0).to_sql(
#             name="yellow_taxi_trips",
#             con=engine,
#             if_exists="replace"
#         )
#         first = False
#         print("Table created")

#     # Insert chunk
#     df_chunk.to_sql(
#         name="yellow_taxi_trips",
#         con=engine,
#         if_exists="append"
#     )

#     print("Inserted:", len(df_chunk))

**Yellow Taxi November 2025 Section**

In [23]:
import pandas as pd
from sqlalchemy import create_engine
from tqdm.auto import tqdm
import pyarrow.parquet as pq

In [24]:
# Jalankan ini di cell notebook jika Anda punya akses root
!apt-get update && apt-get install -y wget

Hit:1 http://deb.debian.org/debian bullseye InRelease
Hit:2 http://deb.debian.org/debian-security bullseye-security InRelease
Hit:3 http://deb.debian.org/debian bullseye-updates InRelease
Reading package lists... Done
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
wget is already the newest version (1.21-1+deb11u2).
0 upgraded, 0 newly installed, 0 to remove and 44 not upgraded.

In [19]:
# !wget https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet

--2026-01-15 03:21:04--  https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 3.165.247.72, 3.165.247.79, 3.165.247.187, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|3.165.247.72|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1164775 (1.1M) [binary/octet-stream]
Saving to: ‘green_tripdata_2025-11.parquet.1’

green_tripdata_2025 100%[===================>]   1.11M  1.13MB/s    in 1.0s

2026-01-15 03:21:05 (1.13 MB/s) - ‘green_tripdata_2025-11.parquet.1’ saved [1164775/1164775]

In [ ]:
# !wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2026-01-15 03:21:06--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-15T04%3A01%3A57Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-15T03%3A01%3A52Z&ske=2026-01-15T04%3A01%3A57Z&sks=b&skv=2018-11-09&sig=jwv3n1L%2FRsPpwbJS%2BnopR5R9cpunu%2B7vyamkBy6DPx4%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQ0NzU2NiwibmJmIjoxNzY4NDQ3MjY2LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.7v03awLGwA911JaY--jfL_ET9rDDnG2GCUab2OwoFPQ&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2026-01-15 03:21:06--  https://release-assets.githubusercontent.com/github-production-release-asset/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?sp=r&sv=2018-11-09&sr=b&spr=https&se=2026-01-15T04%3A01%3A57Z&rscd=attachment%3B+filename%3Dtaxi_zone_lookup.csv&rsct=application%2Foctet-stream&skoid=96c2d410-5711-43a1-aedd-ab1947aa7ab0&sktid=398a6654-997b-47e9-b12b-9515b896b4de&skt=2026-01-15T03%3A01%3A52Z&ske=2026-01-15T04%3A01%3A57Z&sks=b&skv=2018-11-09&sig=jwv3n1L%2FRsPpwbJS%2BnopR5R9cpunu%2B7vyamkBy6DPx4%3D&jwt=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmVsZWFzZS1hc3NldHMuZ2l0aHVidXNlcmNvbnRlbnQuY29tIiwia2V5Ijoia2V5MSIsImV4cCI6MTc2ODQ0NzU2NiwibmJmIjoxNzY4NDQ3MjY2LCJwYXRoIjoicmVsZWFzZWFzc2V0cHJvZHVjdGlvbi5ibG9iLmNvcmUud2luZG93cy5uZXQifQ.7v03awLGwA911JaY--jfL_ET9rDDnG2GCUab2OwoFPQ&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving release-assets.githubusercontent.com (release-assets.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to release-assets.githubusercontent.com (release-assets.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv.1’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0.006s

2026-01-15 03:21:06 (1.96 MB/s) - ‘taxi_zone_lookup.csv.1’ saved [12322/12322]

In [32]:
engine = create_engine('postgresql://postgres:postgres@host.docker.internal:5433/ny_taxi')

In [33]:
green_tripdata_parquet_file = pq.ParquetFile('green_tripdata_2025-11.parquet')

In [34]:
total_rows = green_tripdata_parquet_file.metadata.num_rows
batch_size = 10000 

first = True

In [35]:
for batch in tqdm(green_tripdata_parquet_file.iter_batches(batch_size=batch_size), total=(total_rows // batch_size) + 1):
    
    # Ubah batch ke pandas DataFrame
    df_chunk = batch.to_pandas()

    if first:
        # Create table schema (mengosongkan tabel jika sudah ada dan membuat skema baru)
        df_chunk.head(0).to_sql(
            name="green_taxi_trips_november_2025",
            con=engine,
            if_exists="replace",
            index=False
        )
        first = False
        print("Table created")

    # Insert chunk data
    df_chunk.to_sql(
        name="green_taxi_trips_november_2025",
        con=engine,
        if_exists="append",
        index=False,
        # Tips: gunakan method='multi' atau chunksize di to_sql untuk speed tambahan
        method='multi', 
        chunksize=10000 
    )

print(f"Selesai! Total {total_rows} baris telah dimasukkan.")

  0%|          | 0/5 [00:00<?, ?it/s]

Table created
Selesai! Total 46912 baris telah dimasukkan.

In [36]:
taxi_zone_csv = pd.read_csv('taxi_zone_lookup.csv')

In [37]:
taxi_zone_csv.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [38]:
taxi_zone_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   LocationID    265 non-null    int64
 1   Borough       265 non-null    object
 2   Zone          264 non-null    object
 3   service_zone  263 non-null    object
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [39]:
taxi_zone_csv.shape

(265, 4)

In [40]:
total_rows = taxi_zone_csv.shape[0]

In [41]:
df_iter = pd.read_csv('taxi_zone_lookup.csv',
    iterator=True,
    chunksize=100
)

In [42]:
first = True
for df_chunk in tqdm(df_iter, total=(total_rows // batch_size) + 1):

    if first:
        # Create table schema (no data)
        df_chunk.head(0).to_sql(
            name="taxi_zone",
            con=engine,
            if_exists="replace"
        )
        first = False
        print("Table created")

    # Insert chunk
    df_chunk.to_sql(
        name="taxi_zone",
        con=engine,
        if_exists="append"
    )

    print("Inserted:", len(df_chunk))

  0%|          | 0/1 [00:00<?, ?it/s]

Table created
Inserted: 100
Inserted: 100
Inserted: 65